/Administrador.class
/Album.class
/Aplicacion.class
/Cancion.class
/ElementoReproducible.class
/EstadoAlbum.class
/EstadoBusqueda.class
/EstadoCancion.class
/EstadoDenuncia.class
/EstadoUsuario.class
/FechaSimulada.class
/Notificacion.class
/NotificacionPlagio.class
/Playlist.class
/Subscripcion.class
/TipoElementoReproducible.class
/TipoUsuario.class
/Usuario.class
/UsuarioRegistrado.class
